@model int
<div class="Container row">

    <div class="col-12 text-center">
        <h3>Thank you.....</h3>
        <br />
        <img src="~/images/ecommerce-download-png.png" style="width:400px;height:400px" />
        <hr />
        <div class="col-12 text-center">
            <br />
            <h2>You Order Number @Model Has Been Successfully</h2>
        </div>
    </div>
</div>